---
const { title, image, github, deploy, tech } = Astro.props.project;
---

<article
  class="bg-textColor/5 border-[1px] border-textColor rounded-3xl p-4 flex flex-col gap-2"
>
  <div class="flex justify-between items-center">
    <p class="text-black">{title}</p>

    <div class="flex gap-2">
      <a href={github} target="_blank">
        <img src="/img/github-black.svg" alt={github} class="w-7" />
      </a>

      <a href={deploy} target="_blank">
        <img src="/img/rocket.svg" alt={deploy} class="w-7" />
      </a>
    </div>
  </div>

  <img
    src={image}
    alt={title}
    class="rounded-3xl border-[1px] border-textColor/50 w-full sm:h-[118px]"
  />
</article>
